@model SportStore.WebUI.Models.CartIndexViewModel

@ViewBag.Title = "Sports Store: Your Cart";

<h2>Your Cart</h2>
    <table class="table table-bordered">
        <thead><tr>
        <th align="center">数量</th>
        <th align="center">名称</th>
        <th align="center">单价</th>
        <th align="center">总价</th>
    </tr></thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
            <tr>
                <td align="center">@line.Quantity</td>
                <td align="left">@line.Product.Name</td>
                <td align="right">@line.Product.Price</td>
                <td align="right">@((line.Quantity*line.Product.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">订单结算:</td>
            <td align="right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<p class="actionButtons btn btn-block">
    <a href="@Model.ReturnUrl">继续购物</a>
</p>